.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  padding: 40px 100px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}
.NavContainer {
  display: flex;
  gap: 100px;
}
.NavLink {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  /* or 34px */
  display: flex;
  align-items: flex-end;
  text-align: right;
  color: #ff6060;
}
.Active {
  text-decoration-line: underline;
}
@media only screen and (max-width: 768px) {
  .Header {
    padding: 20px;
  }
  .Logo {
    width: 50%;
  }
  .Logo img {
    max-width: 200px;
  }
  .NavContainer {
    gap: 10px;
  }
  .NavLink {
    text-transform: uppercase;
    font-size: 12px;
  }
}
